DOMAIN=reptile-house.com
ACME_EMAIL=ops@reptile-house.com

ALLOWED_ORIGINS=https://reptile-house.com,https://www.reptile-house.com

MYSQL_ROOT_PASSWORD=CHANGE_ME_TO_A_STRONG_DATABASE_PASSWORD
MYSQL_APP_USER=reptile_house_app
MYSQL_APP_PASSWORD=CHANGE_ME_TO_A_STRONG_APP_DATABASE_PASSWORD

JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
JWT_EXPIRES_IN=12h
BOOTSTRAP_ADMIN_SECRET=CHANGE_ME_BOOTSTRAP_SECRET

TRUST_PROXY=1
RATE_LIMIT_MAX=600
AUTH_RATE_LIMIT_MAX=30

AUTO_APPLY_SCHEMA=1
AUTO_SEED=0
STARTUP_DB_MAX_ATTEMPTS=30
STARTUP_DB_RETRY_MS=2000
